[Unit]
Description=vk_bot
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/PROJECT/vk_auto_posting_bot
ExecStart=/root/PROJECT/venv/bin/python3 /root/PROJECT/vk_auto_posting_bot/main.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
