[Unit]
Description=vk_script
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/PROJECT/vk_script
ExecStart=/root/PROJECT/venv/bin/python3 /root/PROJECT/vk_script/main.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
